@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #1F2937;
  --primary: #2563EB;
}

body {
  color: var(--foreground);
  background: var(--background);
}
